@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #80BCBD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #AAD9BB;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #F9F7C9;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #80BCBD;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #80BCBD;
}

.todo-input::placeholder {
  color: #80BCBD;
}

.todo-btn {
  background: #80BCBD;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #AAD9BB;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.TodoWrapper div label {
  color: #80BCBD;
  margin-bottom: 2rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #F9F7C9;
  cursor: pointer;
}

.completed {
  color: #F9F7C9;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

label{
  margin: 1rem;
}
.Todo {
  transition: opacity 0.5s, transform 0.5s;
}

.Todo.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}